<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paisajes</title>

    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">

</head>

<body>
    <div id="contenido">

        <header>

            <div class="encabezado">

                <div class="titulo">
                    <h1>Comenzando con la fotografia</h1>
                </div>

                <div class="menu">

                    <li class="inicio"><a href="../index.html">Inicio</a></li>
                    <li><a href="../views/paisajes.html">Paisajes</a></li>
                    <li><a href="../views/retratos.html">Retratos</a></li>

                </div>
            </div>

        </header>

        <div class="GaleriaPaisaje">


            <div class="P_foto_1">
                <img src="../recursos/img/paisaje1.jpg">

            </div>

            <div class="P_foto_2">
                <img src="../recursos/img/paisaje1.jpg">

            </div>
            <div class="P_foto_3">
                <img src="../recursos/img/paisaje1.jpg">

            </div>
            <div class="P_foto_4">
                <img src="../recursos/img/paisaje1.jpg">

            </div>
            <div class="P_foto_5">
                <img src="../recursos/img/paisaje1.jpg">

            </div>
            <div class="P_foto_6">
                <img src="../recursos/img/paisaje1.jpg">

            </div>

        </div>

        <footer>

            <div class="contenerFooter">

                <div class="contacto">

                    <h2>Contacto</h2>
                    <p>Edwin Barahona</p>
                    <p>Honduras Tegucigalpa</p>
                    <p>Telefono:3333-4444</p>
                </div>

                <div class="terminos">

                    <h2>Terminos</h2>
                    <p>Conoce nuestros terminos y condiciones.</p>

                </div>

                <div class="redesSociales">

                    <h2>Redes Sociales</h2>
                    <p>Comparte en nuestras redes</p>
                    <a href="http://" target="_blank"><img src="../recursos/img/LogoFB.png" alt=""
                            width="20px">Contactanos por Facebook</a><br>
                    <a href="http://" target="_blank"><img src="../recursos/img/LogoIn.png" alt=""
                            width="20px">Contactanos por Linkedin</a>
                </div>

                <div class="Derechos">

                    <h2>Derechos</h2>
                    <p>Edwin Barahona</p>
                    <p>© Copyright 2019</p>

                </div>
            </div>
        </footer>
    </div>

</body>

</html>