


#cabecera  {

    background-color: #5b7989;
    color: white;
    text-shadow: 2px 0px #02010a;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 2vh 0.5vw;
 
	   
}

#menu a{
    margin: 10px;
    text-decoration:none; 
    color: white;
}

#menu a:hover{
    
    text-decoration:underline; 

    
}

#menu {
    position: absolute;
    top: 50px;
    right: 16px;
}


#imagen1{
    text-align: center;
    background-color: #82c3a6;
    margin: 0%;
    padding: 2vh 0.5vw;
   
}
#imagen1 img{

   width: 40%;
   box-shadow: 2px 2px #02010a;
}


#contenidoSecundario figure{

    width: 100%;
    margin: 0px;



}


#contenidoSecundario img{

    width: 30%;
    margin: 10px;
    box-shadow: 2px 2px #02010a;
 
   
 }

#contenidoSecundario div{

    display: flex;
   flex-flow: row wrap;
   justify-content: center;
  
 }


#contenidoSecundario{
    background-color:#d5c75f; 
}

#paisaje2 img{
   /* transition: width, 1s;*/
   transition-property:;
   transition-duration: 2s, 4s;

}

.imagenessecundarias img:hover {

animation-name: rotateDiv;
animation-duration: 2s;


}


@keyframes rotateDiv {

    0%   { rotate: 0deg; }
  100% { rotate: 10deg; }

 }
 


