
body{

    font-family: 'Dancing Script', cursive;
    background-color: #02010a;
    min-width: 900px;
}

header  {

    background-color: #5b7989;
    color: white;
    text-shadow: 2px 0px #02010a;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;	   
}


#contenido{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}


.encabezado{

    display: flex;
    flex-flow: row ;

 }

/*------Seccion de Menu de Navegacion------*/

.menu  {

    display: flex;
    flex-flow: row wrap;
    padding: 10px;

    list-style-type: none;
    font-weight: bold;
    margin:  auto;
    padding: 1px;
    font-size: 20px;
    width: 40%;

}

.menu a{
    margin: 10px;
    text-decoration:none; 
    color: white;
}


.menu a:hover{
    
    text-decoration:underline;    
}

.inicio{

   margin-left: auto;

}


.titulo{
    width: 60%;
    padding: 10px;
   
}
  





.imagen1{
    text-align: center;
    background-color: #82c3a6;
    margin: 0%;
    padding: 2vh 0.5vw;
   
}
.imagen1 img{

   width: 40%;
   box-shadow: 2px 2px #02010a;
}




.imagenessecundarias{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  
  
 }

 .imagenessecundarias img{

    width: 100%;
    height: 80%;
    box-shadow: 2px 2px #02010a ;
 
  
 }

 .imagenessecundarias div{

    width: 30%;
    margin: 10px;
 }
 
 .imagenessecundarias a{

  font-size: 2.3em; 
  color: #02010a;


 }

.imagenessecundarias{
    background-color:#d5c75f; 
    height: 100%;
}
.foto1{
    text-align: center;
}
.foto1 img {
   /* transition: width, 1s;*/
 
   transform: rotate(0deg);
   transition-duration: 1s;
}

.foto1 img:hover {

    transform: rotate(10deg);
    transition-duration: 0.3s;


}

.foto2{
    text-align: center;
}

.foto2 img {
    /* transition: width, 1s;*/
  
    transform: translate(0px, 0px);
    transition-duration: 1s;
 }
 
 .foto2 img:hover {
 
    transform: translate(20px, -5px);
     transition-duration: 1s;
 
 
 }

 footer
 {

    background-color: #C6d5c5;
    margin: 0px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px; 
 }


 


 .contenerFooter{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  
 }

 .contenerFooter div{

    margin: 3%;
    margin-top: 10px;
 }




    





  .GaleriaRetratos{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  
 }

 .GaleriaRetratos div{

    width: 33.33333%;
    text-align: center;
    
    
 }


 .GaleriaRetratos div>img{

    width: 80%;
    box-shadow: 2px 2px #02010a;
    margin: 10px;
    
 }


 .GaleriaRetratos{
    background-color:#d5c75f; 
    height: 100%;
}


.R_foto_1  {
    filter: blur(10px);
}

.R_foto_2, .R_foto_4, .R_foto_6  {

    filter: grayscale(100%);
}

.R_foto_3 {

    filter: sepia(90%);
}




.GaleriaPaisaje{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  
 }

 .GaleriaPaisaje div{

    width: 33.33333%;
    text-align: center;
    
    
 }


 .GaleriaPaisaje div>img{

    width: 80%;
    box-shadow: 2px 2px #02010a;
    margin: 10px;
    
 }


 .GaleriaPaisaje{
    background-color:#d5c75f; 
    height: 100%;
}


.P_foto_1  {
    filter: blur(10px);
}

.P_foto_2, .P_foto_4, .P_foto_6  {

    filter: grayscale(100%);
}

.P_foto_3 {

    filter: sepia(90%);
}



@keyframes slideInDesdeAbajo {
    0% {
    /*  transform: translateY(0);*/
    margin-top: 150%;
    }
    60% {
    /*  transform: translateY(100%);*/
    margin-top: -5%;
    }

    100% {
        /*  transform: translateY(100%);*/
        margin-top: 0%;
        }


  }


  #contenido {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s  slideInDesdeAbajo;
  }






@media (max-width: 900px) {
   
    .imagenessecundarias div{
    
        width: 100%;
        height: auto;
        padding: 30px;
    }
    
    .ImagenPrimaria div>img  {
        width: 100%;
        height: auto;
    }
    .ImagenPrimaria div  {
        padding: 30px;
    }
    
    
    .contenerFooter{
    
        display: flex;
        flex-flow: column wrap;
        justify-content: left;
        font-size: 4em;
      
     }
    
     .contenerFooter img{
    
     width: 0.8em;
      
     }
    
     .encabezado{
    
        display: flex;
        flex-flow: column ;
        justify-content: center;
        text-align: center;
        font-size: 3em;
    
     }
    
     .titulo{
        width: 100%;
    }
    
    
     .menu {
    
        
        font-size: 0.7em;
        margin: 0 auto;
        text-align: center;
        padding: 1px;
     
       
    
      }
    
    

      .GaleriaRetratos div{
          width: 100%;
      }
    
      .GaleriaRetratos{

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
      
     }
    

     .GaleriaPaisaje div{
        width: 100%;
    }
  
    .GaleriaPaisaje{

      display: flex;
      flex-flow: column wrap;
      justify-content: center;
    
   }
    
    
    
    
    
    
    
    
      }

